@charset "UTF-8";

/* **************************************** *
 * BASE
 * **************************************** */

/* scroll */
::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 7px;
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: #f6f6f6;
    box-shadow: inset 0px 0px 0 #444;
}

::-webkit-input-placeholder {
    color: #b5b5c3;
    font-size: 14px;
    line-height: 14px !important;
}

::-moz-placeholder {
    color: #b5b5c3;
    font-size: 14px;
    line-height: 14px !important;
}

:-ms-input-placeholder {
    color: #b5b5c3;
    font-size: 14px;
    line-height: 14px !important;
}

::-ms-input-placeholder {
    color: #b5b5c3;
    font-size: 14px;
    line-height: 14px !important;
}

::placeholder {
    color: #b5b5c3;
    font-size: 14px;
    line-height: 14px !important;
}

hr,
legend .hide,
.hidden,
.collapse,
.close,
.blind {
    display: none !important;
}

.behind {
    position: absolute;
    top: -9999em;
    left: -9999em;
    overflow: hidden;
    width: 0;
    height: 0;
}

.sr-only,
.hidden,
.blind,
.IR {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.op-0 {
    opacity: 0;
}

.color-red {
    color: #df3232 !important;
}

.color-gray {
    color: #b5b5c3 !important;
}

.color-orange {
    color: #f0830e !important;
}

.color-blue {
    color: #3699ff !important;
}

.color-violet {
    color: #8950fc !important;
}

.color-green {
    color: #169e97 !important;
}

.font-s12 {
    font-size: 12px !important;
}

.d-flex {
    display: flex;
    align-items: center;
}

.d-flex.stretch {
    align-items: stretch;
}

.d-flex.start {
    align-items: flex-start !important;
}

.d-flex.end {
    align-items: flex-end !important;
}

.d-flex.center {
    justify-content: center;
}

.d-flex.between {
    justify-content: space-between;
}

.d-flex.left {
    justify-content: flex-start !important;
    gap: 10px;
}

.d-flex.right {
    justify-content: flex-end;
}

.d-flex.wrap {
    flex-wrap: wrap;
}

.d-flex.gap5 {
    gap: 5px;
}

.d-flex.gap10 {
    gap: 10px;
}

.d-flex.gap30 {
    gap: 30px;
}

/* text-align */
.t_left {
    text-align: left !important;
}

.t_center {
    text-align: center !important;
}

.t_right {
    text-align: right !important;
}

.bold {
    font-weight: 700;
}

.tb_img img {
    max-width: 100%;
}

/* input style */
input[type="text"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea {
    margin: 0;
    border: 1px solid #ccc;
    color: #333;
    vertical-align: top;
    box-sizing: border-box;
    font-family: inherit;
    height: 40px;
}

input[type="text"],
input[type="password"],
input[type="tel"],
input[type="number"] {
    font-size: 18px;
    height: 46px;
    padding: 2px 10px 5px;
    line-height: 18px;
}

textarea {
    width: 100%;
    height: 65px;
    padding: 15px;
    resize: none;
    resize: both;
    font-size: 14px;
}

select {
    height: 46px;
    padding: 0 40px 0 10px;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff url(../images/ico_select.png) no-repeat right 10px center;
    border: 1px solid #c2c2c2;
}

select::-ms-expand {
    display: none;
}

select:focus,
select:visited,
select:hover {
    background: #fff url(../images/ico_select.png) no-repeat right 10px center;
}

input[type="date"],
input[type="time"] {
    border: 0;
    line-height: 38px;
    min-width: 140px;
    height: 46px;
    font-size: 14px;
    border: 1px solid #e7e9ec;
    border-radius: 4px;
}

input.disable,
select.disable,
textarea.disable {
    background-color: #f5f5f5;
    border: 1px solid #c2c2c2;
}

input[type="date"] {
    border-radius: 4px;
    font-size: 14px;
    position: relative;
    padding-left: 12px;
    padding-right: 15px;
    background-color: #f4f5f7;
}

input[type="date"]::-webkit-clear-button,
input[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    z-index: 1;
    cursor: pointer;
}

input[type="date"]:before {
    content: attr(data-placeholder);
    position: absolute;
    top: 3px;
    width: 100%;
    background-color: #f4f5f7;
}

input[type="date"]:focus::before,
input[type="date"]:valid::before {
    display: none;
}

input[type="date"]:after {
    position: absolute;
    top: 50%;
    right: 10px;
    content: "";
    width: 30px;
    height: 30px;
    background: url("../images/ico_cal.png") center center / contain;
    transform: translateY(-50%);
    z-index: 0;
}

input[type="radio"],
input[type="checkbox"] {
    /* -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none; */
    outline: none;
    content: none;
    position: relative;
    width: 18px;
    height: 18px;
}

input[type="radio"]:before {
    border-radius: 18px;
}

input[type="radio"]:before,
input[type="checkbox"]:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #fff;
}

input[type="checkbox"]:checked:before {
    background: url("../images/ico_checked.png") no-repeat left top;
    width: 18px;
    height: 18px;
    border: 0;
}

input[type="radio"]:checked:before {
    background: url("../images/ico_checked_radio.png") no-repeat left top;
    width: 18px;
    height: 18px;
    border: 0;
}

p.alert-p {
    font-size: 12px;
    color: #7e8299;
    display: flex;
    align-items: center;
}

.ico-a {
    display: inline-block;
    font-style: normal;
    text-indent: -9999999999em;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 5px;
}

.ico-a.alert {
    background-image: url("../images/ico_alert.png");
}

/* dl row */
dl.row.col-1 {
    width: 100%;
    padding: 8px 0;
    border-bottom: 1px solid #ddd;
}

p.row.col-1 {
    width: 100%;
    padding: 8px 0 0 15px;
    font-size: 14px;
    font-weight: 600;
}

dl.row.col-2 dt,
dl.row.col-4 dt,
dl.row.col-6 dt {
    width: 140px;
}

dl.row.col-2 dd {
    width: calc(100% - 140px);
}

dl.row.col-4 dd {
    width: calc(50% - 140px);
}

dl.row.col-6 dd {
    width: calc(33.33333% - 140px);
}

dl.row {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

dl.row.dt-start {
    align-items: flex-start;
}

dl.row.dt-start dt {
    padding-top: 4px;
}

dl.row dt,
dl.row dd {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 5px 0;
    line-height: 23px;
    font-size: 14px;
}

dl.row dt {
    width: 100%;
    min-height: 34px;
    color: #464e5f;
    font-weight: 700;
}

dl.row dt.al-start {
    align-items: flex-start;
}

dl.row dd {
    text-align: left;
    gap: 8px;
    color: #464e5f;
}

dl.row dd * {
    vertical-align: middle;
}

dl.row dd label > input[type="radio"],
dl.row dd label > input[type="checkbox"] {
    line-height: 24px;
}

dl.row.col-t {
    flex-wrap: wrap;
}

dl.row.col-t dt {
    width: 100%;
    justify-content: space-between;
}

dl.row.col-t dd {
    width: 100%;
}

/******************** normal btn ****************************/
.btn {
    position: relative;
    display: inline-block;
    margin: 0;
    height: auto;
    line-height: inherit;
    border: none;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: top;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 10px;
    font-weight: 500;
    letter-spacing: -0.5px;
    box-sizing: border-box;
}

.btn:hover {
    text-decoration: none;
}

.btn:after {
    content: "";
    display: inline-block;
    vertical-align: middle;
}

.btn:visited,
.btn:link {
    color: #fff;
}

.btn.disable {
    background-color: #f1f3f5;
    color: #bbb;
}

.btn.bg_color1 {
    background-color: #009fdb;
    color: #fff;
}

.btn.bg_color1:focus,
.btn.bg_color1:hover {
    background-color: #276fba;
}

.btn.bg_color2 {
    background-color: #333;
    color: #fff;
}

.btn.bg_color2:focus,
.btn.bg_color2:hover {
    background-color: #222;
}

.btn.bg_color3 {
    background-color: #2668c9;
    color: #fff;
}

.btn.bg_color3:focus,
.btn.bg_color3:hover {
    background-color: #2668c9;
}

.btn.bg_color4 {
    background-color: #ccc;
    color: #000;
}

.btn.bg_color4:focus,
.btn.bg_color4:hover {
    background-color: #666;
    color: #fff;
}

.btn.outline {
    border: 1px solid #000;
    color: #000;
}

.btn.outline2  {
    height: 48px;
    padding: 0 24px 3px;
    font-size: 16px;
    color: #3e3c50;
    line-height: 44px;
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    border-color: #3e3c50;
    background: #f5f6fa;
}

.btn.round {
	background-color: #019dd8;
	color: #fff;
	padding: 5px 20px 7px;
	font-size: 14px;
	border-radius: 20px;
	font-weight: 300;
}

.btn.round.dark {
	background-color: #2668c9;
}

.btn.round.gray {
	background-color: #f5f5f5;
	color: #212121;
	font-weight: 400;
}

.btn.round.white {
	color: #747474;
	font-weight: 400;
    border: 1px solid #cccccc;
    background-color: #fff;
}

.btn.big {
    min-width: 120px;
    padding: 18px 20px 12px;
    height: 60px;
    font-size: 18px;
}

.btn.middle {
    padding: 13px 20px 12px;
    height: 46px;
    font-size: 15px;
    border-radius: 8px;
}

.btn.small {
    padding: 5px 20px 7px;
	font-size: 14px;
	border-radius: 20px;
	font-weight: 300;
}

.btn.ico {
    background-repeat: no-repeat;
    background-position: center left 10px;
    padding-left: 30px;
}

.btn.ico.search {
    background-image: url(../images/ico_btn_list.png);
}

.btn.ico.refresh {
    background-image: url(../images/ico_btn_refresh.png);
    border: 1px solid #c40000;
    color: #c40000;
}

.btn.ico.del {
    background-image: url(../images/ico_del.png);
    border: 1px solid #c40000;
    color: #c40000;
}

.ico_btn {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-position: center;
	background-repeat: no-repeat;
}

.ico_btn span {
	display: block;
	text-indent: -99999999999em;
}


.ico_btn.edit {
	background-image: url("../images/table_btn_02.png");
}

.ico_btn.del {
	background-image: url("../images/table_btn_03.png");
}

.ico_btn.list {
	background-image: url("../images/table_btn_01.png");
}

.ico_btn.view {
	background-image: url("../images/table_btn_04.png");
}

.p_box {
    font-size: 15px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
}

h4 {
    font-size: 17px;
    color: #000;
}

.c_blue {
    color: #154193 !important;
}

.c_sky {
    color: #018cf8 !important;
}

.c_gold {
    color: #8b734b !important;
}

.c_red {
    color: #f31858 !important;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table.type1 th {
    font-size: 15px;
    position: relative;
    color: #333;
    border-top: 1px solid #333333;
    border-bottom: 1px solid #333333;
    padding: 12px 0px;
    text-align: center;
}

table.type1 th:not(:last-of-type):after {
    content: "";
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: 15px;
    background-color: #e1e7eb;
}

table.type1 td {
    border-bottom: 1px solid #d8d8d8;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    color: #747774;
    line-height: 1.4;
}

table.type1 td a {
    color: #333;
    display: block;
}

table.type1 td .btn {
    display: inline-block;
}

table.type1 td .num {
    display: inline-block;
    width: 80px;
    background-color: #2ca6e0;
    color: #fff;
    text-align: center;
    padding: 7px 0 9px;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}

table.type1 td .num.blue {
    background-color: #345fa9;
}

table.type1 td .num.red {
    background-color: #e84a51;
}

table.type1 td .num.gray {
    background-color: #b8c8e1;
}

.bbs_regist {
    border-top: 1px solid #e5e5e5;
}

.bbs_regist thead th {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    text-align: center;
    color: #000;
    padding: 10px;
}

.bbs_regist tbody th {
    background-color: #f5f6f7;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
    color: #333;
    padding: 10px;
    border-right: 1px solid #e5e5e5;
}

.bbs_regist td {
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    color: #333;
    padding: 10px;
}

.bbs_regist td:last-of-type {
    border-right: 0;
}

.bbs_regist .type1 th,
.bbs_regist .type1 td {
    background-color: #fff;
    border-right: 0;
    padding: 5px 0;
    font-size: 15px;
}

.bbs_regist .type1 th {
    padding: 10px 0;
}

.bbs_regist .file_uplad {
    padding: 10px 0 0;
}

.in_chat .tab {
    width: 100%;
}

.in_chat .tab ul {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.in_chat .tab ul li {
    width: 50%;
}

.in_chat .tab ul li a {
    display: block;
    background-color: rgba(255,255,255,0.3);
    color: rgba(255,255,255,0.5);
    padding: 10px 30px;
    text-align: center;
    font-family: 'play';
    font-size: 14px;
}

.in_chat .tab ul li:first-child a {
    border-radius: 27px 0 0 0;
}

.in_chat .tab ul li:last-child a {
    border-radius: 0 30px 0 0;
}

.in_chat .tab ul li.on a {
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}

.chk {
    display: flex;
    align-items: center;
    gap: 15px;
}

.chk span {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 14px;
}

/* fild upload */
input[type="file"]::file-selector-button {
    width: 34px;
    height: 34px;
    background: url(../images/btn_upload.png) no-repeat;
    cursor: pointer;
    text-indent: -99999999999em;
    outline: 0;
    border: 0;
}

input[type="file"]::file-selector-button:hover {
    color: #fff;
}

/* 파일선택 */
.filebox {
    width: 100%;
    overflow: hidden;
    position: relative;
    height: 35px;
    padding-right: 104px;
    font-size: 14px;
}

.filebox input[type="file"] {
    position: absolute;
    top: -10px;
    left: 0;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.filebox label {
    position: absolute;
    top: 0;
    right: 0px;
    width: 100px;
    height: 34px;
    color: #ffffff !important;
    text-align: center;
    line-height: 2.3;
    background: #414141;
    cursor: pointer;
    border-radius: 4px;
}

.filebox .upload_name {
    float: left;
    width: 100%;
    border: 1px solid #d2d2d2;
    color: #575a61;
    background: #ffffff;
}

.search_wrap {
    padding: 40px;
}

.search_ul {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.search_ul li p {
    width: calc(100% - 140px);
}

.search_ul li {
    display: flex;
    align-items: center;
}

.search_ul li strong {
    width: 140px;
    padding: 10px 0px 10px 10px;
    font-size: 15px;
    color: #333;
    font-weight: 600;
}

.search_ul li .div_td {
    padding: 10px 20px;
    display: flex;
    align-items: center;
}

.search_ul li.col-2 .div_td {
    width: calc(100% - 150px);
}

.search_ul li.col-4 .div_td {
    width: calc(50% - 150px);
}

.search_ul li.col-6 .div_td {
    width: calc(33.33333% - 150px);
}

/* pager */
/* pager */
.pager {
    font-size: 0;
    margin: 15px 0 27px;
}

.pager > a:hover {
    border-color: #106fb8;
    color: #106fb8;
    transition: all 0.3s;
}

.pager > a,
.pager .active {
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    font-size: 14px;
    color: #bdbdbd;
    margin: 0 2px;
    line-height: 22px;
    text-align: center;
    padding: 3px 0 3px;
    background-color: #ededed;
}

.pager > a:hover,
.pager .active {
    color: #fff;
    font-weight: 600;
    background-color: #1a448b;
}

.pager a.arr {
    font-size: 0;
    line-height: 0;
    background-color: #fff;
    position: relative;
    text-indent: -99999999em;
    border: 0;
}

.pager a.arr:hover {
    border-color: #969696;
    transition: all 0.3s;
}

.pager a.arr:hover::before,
.pager a.arr:hover::after {
    color: #969696;
}

.pager a.arr.prev {
    background: url("../images/pager_prev.png") no-repeat center center;
}

.pager a.arr.next {
    background: url("../images/pager_next.png") no-repeat center center;
}

.pager a.arr.first {
    background: url("../images/pager_first.png") no-repeat center center;
}

.pager a.arr.last {
    background: url("../images/pager_last.png") no-repeat center center;
}

.pager > select {
    height: 24px;
    vertical-align: middle;
    margin-right: 10px;
}
