@charset "UTF-8";
/* chat */
.chatting {
    background-color: #fff;
    height: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 30px;
}

.chatting.on {
    padding-top: 70px;
}
.header-chat {
    background-color: #fff;
    height: 90px;
    box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
}

.chatting .header-chat .icon {
    margin-left: 30px;
    color: #515151;
    font-size: 14pt;
}

.chatting .header-chat .name {
    margin: 0 0 0 20px;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
    font-size: 13pt;
    color: #515151;
}

.chatting .header-chat .right {
    position: absolute;
    right: 40px;
}

.chatting .messages-chat {
	width: calc(100% - 20px);
    height: calc(100vh - 420px);
    padding: 0 24px 30px;
    overflow-y: scroll;
    margin-top: 30px;
}

.chatting .messages-chat .message {
    display: flex;
    align-items: flex-start;
    margin-bottom: 40px;
    gap: 10px;
}

.calendar {
	padding: 20px 0 0;
}

.chatting .messages-chat .message .photo {
    display: block;
    width: 30px;
    height: 30px;
}
.chatting .messages-chat .message .photo img {
    max-width: 100%;
    border-radius: 100%;
}

.chatting .messages-chat .message .chat_text {
    position: relative;
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-right: 0px !important;
    margin-left: auto;
}

.chatting .messages-chat .text {
    display: flex;
    align-items: flex-end;
	justify-content: flex-end;
    gap: 10px;
    width: 90%;
}

.chatting .messages-chat .text_only {
    position: relative;
    display: inline-block;
    width: 100%;
    background-color: #f4fbff;
    border: 1px solid #e4edf3;
    padding: 15px 20px;
    border-radius: 8px;
    color: #202020;
    font-size: 15px;
    margin-bottom: 7px;
    line-height: 1.3;
}

.chatting .messages-chat .text:first-of-type .text_only:before {
	position: absolute;
	left: -7px;
	top: 5px;
    content: "";
	display: block;
	width: 7px;
	height: 12px;
	background: url(../images/chat_box.png) no-repeat;
}

.chatting .messages-chat .response .text:first-of-type .text_only:before {
	position: absolute;
	left: initial;
	right: -7px !important;
	top: 5px;
    content: "";
	display: block;
	width: 7px;
	height: 12px;
	background: url(../images/response_box.png) no-repeat;
}

.chatting .messages-chat .img {
    display: inline-block;
    background-color: #101418;
    border-radius: 16px 16px 16px 0;
    border: 1px solid #1c1e22;
    color: #fff;
    font-size: 14px;
    font-family: "sf-pro";
    margin-bottom: 7px;
}

.chatting .messages-chat .img img {
    max-width: 100%;
}

.message .time {
    font-size: 12px;
    color: #9AAABB;
    margin-bottom: 10px;
    margin-top: 3px;
}

.response {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
	width: calc(100% - 40px);
    margin-right: 0px !important;
    margin-left: auto; /* flexbox alignment rule */
}

.chatting .messages-chat .response .text_only {
    max-width: 70%;
    border: 0;
    background-color: #fefbe4;
	border: 1px solid #f5efc5;
    color: #000;
}

.footer-chat {
    width: 100%;
    padding: 0 15px 15px;
	border-top: 1px solid #ddd;
}

.footer-chat .send_form{
    width: 100%;
    border: transparent;
	font-size: 15px;
}

.footer-chat .footer_chat_tools {
    display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-chat .footer_chat_tools ul {
    display: flex;
	align-items: center;
	gap: 10px;
}

.footer-chat .footer_chat_tools ul li a {
    display: block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
}

.footer-chat .footer_chat_tools ul li.imogi a {
    background-image: url(../images/ico_chat_imogi.png);
}

.footer-chat .footer_chat_tools ul li.calc a {
    background-image: url(../images/ico_chat_cal.png);
}

.footer-chat .footer_chat_tools ul li.time a {
    background-image: url(../images/ico_chat_time.png);
}

.footer-chat .footer_chat_tools ul li.file a {
    background-image: url(../images/ico_chat_file.png);
}

.footer-chat .footer_chat_tools ul li.crop a {
    background-image: url(../images/ico_chat_crop.png);
}

.footer-chat .footer_chat_tools ul li.text a {
    background-image: url(../images/ico_chat_text.png);
}

/* loader */        
.loader1{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
    font-size: 35px;
    color: #FFF;
    display: inline-block;
    font-weight: 400;
}

.loader1:after{
    content: '';
    display: block;
    position: relative;
    z-index: 5;
    width: 150px;
}

.loader1:before{
    content: '';
    height: 15px;
    border: 1px solid;
    border-radius: 10px;
    width: 300%;
    position: absolute;
    left: -90%;
    bottom: -30px;
    background: linear-gradient(#f43a59 100%, transparent 0) no-repeat;
    background-size: 0% auto;
    -webkit-animation: 10s lineGrow linear infinite;
            animation: 10s lineGrow linear infinite;
}

@-webkit-keyframes lineGrow {to {  background-size: 100% auto}}


.cover {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
}

.loader2 {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -75px;
    z-index: 11;
    width: 150px;
    height: 150px;
    border: 10px solid #fff;
    border-bottom-color: #2668c9;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    -webkit-animation: rotation 1s linear infinite;
            animation: rotation 1s linear infinite;
}

@-webkit-keyframes rotation {
    0% {
        transform: rotate(0deg) ;
    }
    100% {
        transform: rotate(360deg);
    }
}
.load_txt {
    position: fixed;
    top: 35%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
    font-size: 20px;
    display: inline-block;
    font-weight: bold;
    color: #fff;
    box-sizing: border-box;
    letter-spacing: 2px;
}
.loader_txt {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 11;
    font-size: 48px;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #263238;
    box-sizing: border-box;
    letter-spacing: 2px;
}
.loader_txt::after {
    content: 'Loading';
    position: absolute;
    left: 0;
    top: 0;
    color: #FFF;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-animation: animloader 6s linear infinite;
            animation: animloader 6s linear infinite;
}

@-webkit-keyframes animloader {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.loader_txt.small {
    top: 50%;
    font-size: 20px;
}

.menu_wrap {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 0 30px 70px;
    gap: 40px;
}

.menu_wrap>div{
    border: 1px solid #e1e7f2;
    border-radius: 4px;
    padding: 20px;
}

.menu_wrap>.lft {
    width: 300px;
}

.menu_wrap>.rgt {
    width: calc(100% - 340px);
}

.inCal.flatpickr-input {
	display: none;
}

.selector {
	background: #fff url(../images/ico_cal.png) no-repeat left 20px top 11px;
	padding-left: 100px !important;
}

.date_range span {
	display: block;
	position: relative;
	height: 100%;
}

.date_range span:before{
	position: absolute;
	left: 40px;
	top: 12px;
	color: #333;
	z-index: 10;
	font-size: 14px;
}

.date_range span:first-of-type:before {
	content: "일정시작 :";
}

.date_range span:last-of-type:before {
	content: "일정종료 :";
}

/* modal */
.modal_hdr {
    font-size: 17px;
    font-weight: 500;
    color: #212121;
    border-bottom: 1px solid #ddd;
    padding: 10px 10px 20px;
}

.modal_bdy {
    padding: 20px 0;
}

.add_travel.scroll {
    height: 450px;
    overflow-y: auto;
}

.add_travel ul li {
    position: relative;
    background-color: #f6f6f6;
    padding: 20px;
    margin-bottom: 10px;
}

 .add_travel ul li .btn.round {
    position: absolute;
    right: 20px;
    top: 20px;
}

 .add_travel ul li .d-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

 .add_travel ul li .img {
    width: 140px;
}

.add_travel ul li .img img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 140px;
    height: 100px;
}

.add_travel ul li .info {
    width: calc(100% - 160px);
}

.add_travel h3 {
    display: block;
    font-size: 25px;
    color: #212121;
    font-weight: 600;
    padding-bottom: 20px;
}

.add_travel .info p {
    padding-bottom: 10px;
}

.add_travel .info p strong {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
    color: #565555;
}

.add_travel .info p span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}

.text_only 

/* schedule */
.sche__wrap .map ,
.sche__wrap {
    position: relative;
    min-height: calc(100dvh - 220px);
}

.sche__hdr {
    padding: 10px 0 10px;
    border-bottom: 1px solid #eaeaea;
}

.sche__hdr strong {
    font-size: 39px;
    color: #424242;
    font-family: 'montserrat';
    font-weight: 900;
}

.sche__hdr .date  {
    padding: 10px 0;
}

.sche__hdr .date span {
    font-size: 15px;
    display: block;
    padding: 5px 0 0;
}

.sche__wrap .map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.sche__wrap .map img{
    width: 100%;
    height: calc(100dvh - 220px);
    -o-object-fit: cover;
       object-fit: cover;
}

.sche_list {
    position: absolute;
    z-index: 1;
    padding: 20px 10px 20px 20px;
    left: 10%;
    top: 30px;
    border-radius: 30px;
    border: 1px solid #d6ddeb;
    box-shadow: rgba(0, 0, 0, 0.19) 13px 0 27px;
}

.sche_list {
    width: 320px;
    height: calc(100vh - 280px);
    background-color: #fff;
} 

.add_travel ul {
    width: calc(100% - 10px);
} 

.add_travel ul li {
    padding: 20px 20px;
} 

.add_travel ul li .img img ,
.add_travel ul li .img {
    width: 110px;
    height: 85px;
}

.add_travel ul li .info {
    width: calc(100% - 120px);
    font-size: 14px;
}

.add_travel h3 {
    display: flex;
    align-items: flex-end;
    gap: 5px;
}

.sche_dot .box i ,
.add_travel h3 i {
    display: inline-block;
    width: 26px;
    height: 26px;
    font-style: normal;
    font-size: 17px;
    font-family: 'montserrat';
    color: #fff;
    background-color: #2668c9;
    border-radius: 100%;
    text-align: center;
    line-height: 23px;
    font-weight: 700;
}

.add_travel h3 span {
    font-size: 14px;
    color: #565555;
}

.add_travel.scroll {
    height: calc(100dvh - 516px);
}

.date_plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 15px;
}

.date_plan .date {
    width: 125px;
}

.date_plan .date strong {
    display: inline-block;
    font-size: 30px;
    color: #212121;
    padding-right: 5px;
}

.date_plan .date span {
    font-size: 17px;
    color: #161616;
    font-family: 'play';
}

.weather_wrap {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.weather_graphic {
    width: 89px;
}
.weather_main .wt_icon {
    display: inline-block;
    vertical-align: top;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    margin-top: 4px;
}

.wt_icon.ico_wt1 {
    background-image: url(../images/icon_flat_wt1.svg);
}

.weather_graphic .temperature_text {
    position: absolute;
    top: 0;
    left: 0;
    white-space: nowrap;
}

.weather_graphic .temperature_text strong {
    display: inline-block;
    font-size: 29px;
    font-weight: 700;
    letter-spacing: -0.95px;
    color: #202020;
    vertical-align: top;
    min-width: 50px;
    text-align: center;
    padding:7px 0 0 20px;
}

.temperature_info .weather { 
    font-size: 13px;
    font-weight: 600;
    color: #000;
}

.temperature_info .summary { 
    font-size: 10px;
    color: #000;
    padding-top: 5px;
}

.temperature_info .summary .temperature.up::after {
    background-position: 0 -11px;
}

.temperature_info .summary .temperature.down::after {
    background-position: 0 0;
}

.temperature_info .summary .temperature::after {
    content: "";
    display: inline-block;
    overflow: hidden;
    background: url(../images/sp_icon.png) no-repeat;
    background-size: 6px 20px;
    color: transparent;
    width: 6px;
    height: 9px;
    vertical-align: 0px;
    margin: 0 1px;
}

.sche_util .date_part {
    position: absolute;
    top: 40px;
    right: 20px;
    z-index: 1;
}

.sche_util .btn_next,
.sche_util .date_part>a {
    display: block;
    width: 100px;
    height: 55px;
    padding: 17px 0 0;
    border-radius: 10px;
    font-size: 20px;
    text-align: center;
}

.sche_util .date_part>a {
    background-color: rgba(255,255,255,.5);
    color: #000;
    font-weight: 700;
    font-family: 'play';
    margin-bottom: 10px;
}

.sche_util .date_part>a.on {
    background-color: #fff;
}

.sche_util .btn_next {
    position: absolute;
    bottom: 40px;
    right: 20px;
    z-index: 1;
    background-color: #019dd8;
    color: #fff;
}

.sche_dot .box i,
.sche_dot .box .location {
    position: fixed;
    z-index: 1;
}

.sche_dot .box .location {
    width: 155px;
    padding: 10px 15px 20px;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #e2e2e2;
    box-shadow: rgba(0, 0, 0, 0.17) 4px 0 7px;
}

.sche_dot .box .location:after {
    position: absolute;
    bottom: -10px;
    left: calc(50% - 5px);
    content: " ";
    height: 0;
    z-index: 1;
    border-bottom: 11px solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    color: #fff;
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
}

.sche_dot .box .location .img img {
    width: 100%;
}

.sche_dot .box .location h4 {
    display: block;
    font-size: 18px;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
}

.sche_dot .loca_info strong,
.sche_dot .loca_info span {
    display: block;
    font-size: 14px;
    text-align: center;
    padding-top: 10px;
}


/* searching */
.searching.in_chat {
    padding: 0;
}
.in_chat .chatting {
    border: none;
    background-color: transparent;
    border: 0;
    padding: 0 0 0 15px;
}

.in_chat .chatting .messages-chat {
    width: 100%;
    height: calc(100vh - 402px);
    padding: 0 10px 0 0;
    margin-bottom: 0;
    margin-top: 10px;
}

.in_chat .chatting .messages-chat::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
}

.in_chat .chatting .messages-chat::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
}

.in_chat .chatting .messages-chat .response .text_only {
    max-width: 100%;
}

.in_chat .chatting .messages-chat .message {
    flex-direction: column;
}

.in_chat .chatting .messages-chat .text:first-of-type .text_only:before {
    display: none;
}

.in_chat .chatting .messages-chat .message {
    margin-bottom: 20px;
}

.chat_text .add_travel ul ,
.in_chat .chatting .messages-chat .text ,
.in_chat .response ,
.in_chat .chatting .messages-chat .message .chat_text {
    width: 100%;
}

.chat_text .add_travel ul li {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #eaeaea;
}

.chat_text .add_travel ul li .thumb_img,
.chat_text .add_travel ul li .thumb_img img {
    width: 80px;
}

.chat_text .add_travel ul li .thumb_img img {
    width: 100%;
    -o-object-fit:cover ;
       object-fit:cover ;
}

.chat_text .add_travel ul li .info {
    width: calc(100% - 90px);
}

.chat_text .add_travel h3 {
    font-size: 20px;
}

.in_chat .footer-chat {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0 0;
    border-top: 0;
    padding: 0 0 15px;
}

.in_chat .footer-chat .send_form {
    width: calc(100% - 93px);
    border-radius: 50px;
    height: 30px;
}

/* daily schedule */
.daily_schedule {
    width: calc(100% - 340px);
    background-color: #fff;
    height: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 30px;
    padding: 24px;
}

.daily_schedule h2 {
    padding: 0 !important;
    font-family: 'montserrat';
    font-weight: 900 !important;
}

.daily_schedule h2 span {
    font-size: 15px;
}

.ds_hdr .ds_state ,
.ds_hdr {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
    gap: 10px;
}

.ds_hdr .ds_state {
    padding-bottom: 0;
}

.ds_hdr .ds_state span {
    display: block;
    background-color: #e4edf3;
    border-radius: 30px;
    padding: 7px 15px 8px;
    font-size: 13px;
}

.ds_bdy {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.ds_bdy .add_travel.scroll {
    height: calc(100dvh - 568px);
}

.ds_bdy .date_title  {
    font-size: 24px;
    text-align: center;
    background-color: #019dd8;
    color: #fff;
    border-radius: 30px;
    padding:10px 0 13px;
}

.ds_bdy .date_title span {
    font-size: 15px;
}

.ds_bdy .add_travel {
    background-color: #f6f6f6;
}

.ds_bdy .add_travel h3 {
    font-size: 18px;
    align-items: center;
    padding-bottom: 10px;
}

.ds_bdy .add_travel h3 i {
    width: 20px;
    height: 20px;
    font-size: 13px;
    line-height: 19px;
}

.ds_bdy .add_travel ul {
    width: 100%;
    padding-top: 10px;
}

.ds_bdy .add_travel ul li {
    padding: 5px 16px 5px;
    border-bottom: 2px solid #fff;
}

.ds_bdy .add_travel ul li:last-child {
    border-bottom:0;
}

.ds_bdy .date .btn.add {
    background-color: #9AAABB;
    width: 100%;
    border-radius: 30px 30px 0 0;
    padding: 5px;
    margin-top: 10px;
    font-size: 20px;
}

.btn_drag {
    position: absolute;
    right: 13px;
    top: 8px; 
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/ico_drag.png) no-repeat center center;
}

/* myguide_wrap */
.myguide_wrap {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

.myguide_wrap ul li {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-top: 2px solid #000;
}

.myguide_wrap ul li .thumb_img{
    width: 250px;    
    background-color: #f6f6f6;
    padding: 20px;
}

.myguide_wrap ul li .thumb_img img {
    width: 100%;
    min-height: 150px;
    -o-object-fit: cover ;
    object-fit: cover;   
    border-radius: 16px; 
}

.myguide_wrap  .my_guide_info{
    width: calc(100% - 280px); 
    padding: 20px 20px 20px 0;   
}

.myguide_wrap  .my_guide_info textarea {
    min-height: 80px;
}

.myguide_wrap  .my_guide_info .title {
    position: relative;
    display: flex; 
    align-items: flex-end;
    gap: 20px;
    margin-bottom: 15px;
}

.myguide_wrap  .my_guide_info .title strong {
    font-size: 24px;
    color: #202020;
}

.myguide_wrap  .my_guide_info .title .d_day {
    position: absolute;
    right: 0;
    top: -3px;
    display: inline-block;
    background-color: #2668c9;
    color: #fff;
    font-size: 16px;
    font-family: 'play';
    font-weight: 700;
    border-radius: 30px;
    padding: 5px 15px 8px;
}

.myguide_wrap  .my_guide_btn {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 5px;
}

.add_schedule {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.add_schedule .img {
    width: 200px;
}

.add_schedule .img img {
    width: 100%;
    min-height: 120px;
    -o-object-fit: cover ;
       object-fit:cover ;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.add_schedule .as_info {
    width: calc(100% - 220px);
}

.add_schedule .as_info  h3 {
    display: inline-block;
    font-size: 22px;
    color: #212121;
    font-weight: 600;
    padding-bottom: 20px;
}

.add_schedule .as_info  h3 span {
    display: inline-block;
    font-size: 14px;
    color: #666;
}

.add_schedule .info p strong {
    display: block;
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 5px;
    color: #565555;
}

.add_schedule .info p span {
    display: block;
    font-size: 14px;
    font-weight: 500;
    color: #212121;
}