@charset "UTF-8";
/****************************** login ****************************/
#login {
    position: relative;
    width: 100%;
    min-width: 700px;
    height: 100vh;
    overflow-y: hidden;
}

#login .login-wrap {
    position: relative;
    width: 100%;
    max-width: 430px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border-radius: 8px;
}

#login .login__header {
    width: 100%;
    border-bottom: 2px solid #000;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    padding: 0 0 30px;
    color: #000;
}

#login .login__header h1 {
    display: block;
    margin: 0 auto 60px;
    text-align: center;
}

#login .login__header h2 {
    display: block;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

#login .login__header p {
    font-size: 15px;
    color: #666666;
    padding: 15px 0 10px;
}

.input__form {
    width: 100%;
    margin: 50px auto 0;
    font-size: 16px;
}

.input__form li {
    width: 100%;
    margin-bottom: 10px;
}

.input__form input {
    width: 100%;
    height: 52px;
    background-color: #f5f5f5;
    border: transparent;
    padding-left: 50px;
    background-image: url(../images/ico_id.png);
    background-repeat: no-repeat;
    background-position: center left 20px;
}

.input__form li:nth-child(1) input {
    background-image: url(../images/ico_id.png);
}

.input__form li:nth-child(2) input {
    background-image: url(../images/ico_pw.png);
}

.input__form label {
    font-size: 0;
    visibility: hidden;
    height: 0;
    display: none;
}

.idpw_find {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 7px 0 30px;
}

.idpw_find li a {
	position: relative;
	display: block;
	color: #333;
	font-size: 15px;
	padding: 0 10px;
}

.idpw_find li:first-child a:before {
	content: "";
	position: absolute;
	right: 0;
	top: 2px;
	display: block;
	width: 1px;
	height: 14px;
	background-color: #ccc;
}

.login_button>.btn {
	display: block;
	width: 100%;
	margin-bottom: 10px;
}

.sns_login {
	margin: 50px 0 0;
}

.sns_login h3 {
	text-align: center;
	position: relative;
	font-size: 15px;
	font-weight: 500;
}

.sns_login h3:before ,
.sns_login h3:after {
	content: "";
	position: absolute;
	top: 50%;
	margin-top: 1px;
	display: block;
	width: calc(50% - 50px);
	height: 1px;
	background-color: #eee;
}

.sns_login h3:after {
	right: 0;
}

.sns_login ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 15px;
	margin: 34px 0;
}

.sns_login ul li a {
	display: block;
}

/* join */
.join_gate {
	margin: 40px 0 0;
}

.join_gate button {
	display: block;
	width: 100%;
	position: relative;
    height: 58px;
    margin-top: 12px;
    font-size: 15px;
    border: 1px solid #cdcdcd;
    background-color: #fff;
	background-repeat: no-repeat;
	background-position: left 20px center;
	background-size: 30px;
}

.join_gate button.google {
	background-image: url(../images/ico_google2.png);
	background-position: left 20px top 10px;
	background-size: auto;
}

.join_gate button.naver {
	background-image: url(../images/ico_naver.png);
}

.join_gate button.kakao {
	background-image: url(../images/ico_kakao.png);
}

.join_gate button.apple {
	background-image: url(../images/ico_apple.png);
}

.join_gate button.btn {
	border: 1px solid transparent;
}

#login .login__header.join_agree h1 {
	margin: 0 auto 20px;
}

#login .login__header.join_agree p {
	font-size: 23px;
	font-weight: 500;
	color: #333;
}

.agree_wrap {
	padding-top: 30px;
}

.agree_wrap>div {
	margin-bottom: 30px;
}

.input_wrap {
	display: flex;
	align-items: center;
	gap: 10px;
	margin: 10px 0 15px;
}

.agree_wrap textarea {
	border: 1px solid #ccc;
	height: 90px;
}

.basic_data  {
	margin: 30px 0;
}

.basic_data .input_wrap input[type="text"] ,
.basic_data .input_wrap input[type="password"] {
	width: 100%;
} 

.select_wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;
}

.select_wrap select {
	width: 100px;
	font-size: 16px;
}

.select_wrap span {
	display: block;
	width: calc(50% - 60px);
}

.select_wrap span input[type="tel"] {
	width: 100%;
}

.cellphone {
	padding: 10px 0;
}

.cellphone h3 {
	padding: 10px 0;
}

.cellphone button {
	width: 100%;
	margin-top: 15px;
}

.input_id {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 10px;
	margin-bottom: 10px;
}

.input_id span {
	display: block;
	width: calc(100% - 150px);
}

.pwd span {
	display: block;
}

.basic_data input {
	width: 100%;
}

.input_id .btn{
	width: 140px;
}

.error {
    position: relative;
    margin-top: 10px;
    padding-left: 22px;
    font-size: 14px;
    color: #ed1c24;
	background: url(../images/ico_error.png) no-repeat left top;
	padding-bottom: 10px;
}

/************************ layout *************************/
#wrap {
    position: relative;
    width: 100%;
    height: 100%;
    min-width: 1280px;
}

/* header */
#header {
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
	border-bottom: 1px solid #eaeaea;
}

#header h1 {
    display: inline-block;
    padding: 13px 10px 11px;
}

#header h1 a {
    display: inline-block;
    font-size: 16px;
}

#header h1 a {
    display: block;
}

#menu ul,
#menu  {
    display: flex;
	align-items: stretch;
	justify-content: flex-end;
}

#menu>a  {
	display: flex;
	align-items: center;
	gap: 10px;
	background-color: #019dd8;
	height: 100%;
	padding: 0 20px 5px;
	color: #fff;
	font-size: 15px;
}

#menu>a>i  {
	display: block;
	width: 33px;
	height: 33px;
	background:#fff url(../images/ico_id.png) no-repeat center center;
	border-radius: 100%;
}

#menu ul li {
    padding: 0 15px;
}

#menu ul li a {
    display: flex;
	padding: 27px 35px;
	background-position: left center;
	background-repeat: no-repeat;
	font-size: 20px;
	color: #212121;
	font-weight: 500;
}

#menu ul li:nth-child(1) a {
    background-image: url(../images/ico_menu_1.png);
}

#menu ul li:nth-child(2) a {
    background-image: url(../images/ico_menu_2.png);
}

#menu ul li:nth-child(3) a {
    background-image: url(../images/ico_menu_3.png);
}

/* main */
#main {
    width: 100%;
    background-color: #f1f6f8;
	min-height: calc(100dvh - 220px);
}

#main .inner {
	position: relative;
}

#main .inner h2 {
	display: block;
	padding: 100px 0 40px;
	text-align: center;
	font-size: 35px;
	color: #000;
	font-weight: 500;
}

#main .profile_wrap {
	display: flex;
	align-items: stretch;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-top: 2px solid #000;
}

#main .profile_wrap .lft {
	width: 260px;
	background-color: #f6f6f6;
	text-align: center;
	padding: 50px 0;
	border-right: 1px solid #f0f0f0;
}

#main .profile_wrap .lft .profile_info strong ,
#main .profile_wrap .lft .profile_info span ,
#main .profile_wrap .lft .img{
	display: block;
}

#main .profile_wrap .lft .img img {
	width: 140px;
	height: 140px;
	border-radius: 100%;
}

#main .profile_wrap .lft .profile_info strong {
	padding: 20px 0 5px;
	font-size: 19px;
	color: #000;
	font-weight: 500;
}

#main .profile_wrap .lft .profile_info span {
	font-size: 15x;
	color: #8b8b8b;
}

#main .profile_wrap .lft .round {
	margin-top: 20px;
}

#main .profile_wrap .rgt {
	width: calc(100% - 260px);
}

#main .profile_wrap .rgt ul li {
	display: flex;
	align-items: center;
	border-bottom: 1px solid #f0f0f0;
	padding: 26px 0;
}

#main .profile_wrap .rgt ul li strong {
	width: 190px;
	padding-left: 50px;
	font-size: 17px;
	color: #666666;
}

#main .profile_wrap .rgt ul li p {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: calc(100% - 210px);
}

#main .profile_wrap .rgt ul li p span {
	font-size: 17px;
	color: #212121;
	font-weight: 500;
}

/* footer */
#footer {
	background-color: #262626;
	height: 140px;
}

#footer .ft_menu {
	border-bottom: 1px solid #515151;
}

#footer .ft_menu ul {
	display: flex;
	align-items: center;
	justify-content: center;
}

#footer .ft_menu ul li a {
	position: relative;
	display: block;
	padding: 22px 0;
	font-size: 17px;
	color: #fff;
}

#footer .ft_menu ul li:nth-child(1) a:after {
	display: inline-block;
	content: "";
	width: 1px;
	height: 13px;
	background-color: #fff;
	margin: 0 10px;
}

#footer .copy {
	text-align: center;
	font-size: 12px;
	color: #7f8085;
	padding: 25px 0;
}

/* guide */
.add_travel__wrap,
.travel__wrap,
.guide__wrap {
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 20px;
	max-width: 1200px;
	margin: 0 auto;
	padding: 40px 0;
}

.guide__wrap .chatting {
	width: calc(100% - 340px);
}

.searching {
	width: 320px;
	background-color: #001b2f;
	border-radius: 30px;
	padding: 25px;
}

.searching .destination_list {
	border-bottom: 1px solid #3d4559;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.searching .destination_list li{
	padding-bottom: 25px;
}

.searching .destination_list li strong {
	display: block;
	padding-bottom: 10px;
	font-size: 17px;
	color: #fff;
	font-weight: 400;
}

.searching .destination_list li input[type="text"] {
	width: 100%;
	height: 40px;
	border-radius: 50px;
	font-size: 15px;
	padding-left: 20px;
}

.searching .destination_list li:first-child input[type="text"] {
	display: inline-block;
	width: 80px;
	text-align: center;
	padding: 0;
}

.btn.round_big {
	width: 100%;
	background-color: #019dd8;
	color: #fff;
	padding: 5px 20px 7px;
	font-size: 15px;
	border-radius: 50px;
	font-weight: 300;
	height: 50px;
}

.btn.round_big.add {
	font-size: 33px;
	padding: 0 0 8px;
	line-height: 1;
	height: 40px;
	font-family: 'montserrat';
}

.btn.round_big.add:hover {
	-webkit-text-decoration:none ;
	        text-decoration:none ;
}

.btn.round_big span {
	display: inline-block;
	padding: 12px;
	background: url(../images/ico_etc.png) no-repeat left center ;
	padding-left: 17px;
}

/* cal */
.flatpickr-weekdays {
	background-color: #fff1d5;
}
.flatpickr-months .flatpickr-month {
	height: 43px;
}

.flatpickr-months .flatpickr-prev-month, .flatpickr-months .flatpickr-next-month {
	top: 4px;
}

.flatpickr-current-month input.cur-year ,
.flatpickr-current-month .flatpickr-monthDropdown-months {
	font-size: 16px;
	font-weight: 500;
}

.flatpickr-calendar {
	box-shadow: 1px 0 0 #c5e0f2, -1px 0 0 #c5e0f2, 0 1px 0 #c5e0f2, 0 -1px 0 #c5e0f2, 0 3px 13px rgba(0, 0, 0, 0.08);
}

.flatpickr-time input.flatpickr-hour,.flatpickr-time input.flatpickr-minute, .flatpickr-time input.flatpickr-second ,.flatpickr-time .flatpickr-am-pm ,.flatpickr-time .numInputWrapper{
	height: 35px;
	line-height: 2.2;
}

.flatpickr-calendar.hasTime .flatpickr-time {
	padding: 2px;
}

/* travel */
.travel_list {
	width: calc(100% - 340px);
	background-color: #fff;
    height: 100%;
    border: 1px solid #d7d7d7;
    border-radius: 30px;
	padding: 40px;
}

.travel_list .travel_hdr {
	width: 100%;
	border-bottom: 1px solid #dadada;
	padding: 0 0 25px;
	font-size: 22px;
	color: #545454;
	font-weight: 300;
}

.travel_list .travel_hdr strong {
	color: #212121;
}

.travel_list .travel_bdy {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	gap: 15px;
	margin: 20px 0 0;
}

.travel_list .travel_bdy li {
	width: calc(33.333333% - 10px);
	margin: 20px 0 0;
}

.travel_list .travel_bdy li .img img {
	width: 100%;
	height: 164px;
	-o-object-fit: cover;
	   object-fit: cover;
	border-radius: 12px;
}

.travel_list .travel_bdy li .caption span {
	display: block;
	font-size: 13px;
	color: #a0a0a0;
	margin-top: 12px;
}

.travel_list .travel_bdy li .caption strong {
	display: block;
	font-size: 15px;
	color: #212121;
	margin: 5px 0 15px;
}

.travel_ftr {
	border-top: 1px solid #dadada;
	margin-top: 30px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.travel_ftr {
	border-top: 1px solid #dadada;
	margin-top: 30px;
	padding-top: 20px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 15px;
}

.travel_ftr a {
	display: block;
	border-radius: 30px;
	padding: 10px 20px 12px;
	font-size: 15px;
	font-weight: 500;
	background-repeat: no-repeat;
}

.travel_ftr a.white {
	background-position: left 15px center;
	background-image: url(../images/ico_prev.png);
	padding-left: 35px;
}

.travel_ftr a.black {
	background-position: right 15px center;
	background-image: url(../images/ico_next.png);
	background-color: #000;
	color: #fff;
	padding-right: 35px;
}

.travel_ftr a.save {
	background-color: #000;
	color: #fff;
	width: 83px;
}

.select_title {
	display: block;
	font-size: 17px;
	color: #fff;
	font-weight: 400;
	border-bottom: 1px solid #3d4559;
	padding: 10px 0 20px
}

.select_list {
	border-bottom: 1px solid #3d4559;
	padding: 30px 0 20px;
	margin-bottom: 30px;
}

.select_list li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	padding: 7px 10px;
	background-color: #fff;
	border-radius: 50px;
}

.select_list li span {
	display: block;
	color: #212121;
	font-weight: 500;
	padding-left: 15px;
}

.add_travel__wrap>div {
	min-height: calc(100dvh - 400px);
}

.modal_ftr {
	padding: 20px 0;
	gap: 10px;
}